<div class="card" style="margin: 40px;">
  <div class="card-header">
    <h4>Ajax loaded data</h4>
  </div>
  <div class="card-section">
    <table id="table_1" class="display">
      <thead>
          <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Start Date</th>
              <th>Salary</th>
          </tr>
      </thead>
    </table>
  </div>
  <div class="card-footer">
    <button class="button" id="html_reveal">HTML</button>
    <button class="button" id="js_reveal">JS</button>
    <button class="button" id="from_server_reveal">JSON from server</button>
</div>
</div>

<img id="html_img" src="/ajax/html.png">
<img id="js_img" src="/ajax/js.png">
<img id="from_server_img" src="/ajax/json.png">

<script type="text/javascript">
  $(document).ready( function () {
    $('#table_1').DataTable({
        ajax: {
          type: "GET",
          url: '/users',
          dataType: 'json'
        },
        columns: [
            { data: 'name' },
            { data: 'position.name' },
            { data: 'office' },
            { data: 'start_date.display' },
            { data: 'salary' }
        ]
    });

    $('img').hide();
    $('#html_reveal').click(function() {
      $('img').hide();
      $('#html_img').show();
    });

    $('#js_reveal').click(function() {
      $('img').hide();
      $('#js_img').show();
    });

    $('#from_server_reveal').click(function() {
      $('img').hide();
      $('#from_server_img').show();
    })
} );
</script>
