<h1>DataTables Examples</h1>
<div class="card" style="margin: 40px;">
	<div class="card-section">
		<ul style="font-size: 20px;">
			<li><a href="../demos/basic">Basic Example</a></li>
			<li><a href="../demos/ajax">Ajax loaded data</a></li>
			<li><a href="../demos/customize">Customize using options</a></li>
			<li><a href="../demos/server_side">Server side processing</a></li>
			<li><a href="../demos/select_filters">Customized filtering on server side</a></li>
			<li><a href="../demos/orders">A realtime restaurant orders table</a></li>
		</ul>
</div>
</div>
