
<div class="card" style="margin: 40px;">
  <div class="card-section">
    <table id="people_table" class="display">
      <thead>
          <tr>
              <th>Dish</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Customer</th>
              <th>Location</th>
              <th>Order Time</th>
          </tr>
      </thead>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    $.notify.defaults({ autoHide: false, clickToHide: true })
    $('#people_table').DataTable({
        processing: true,
        serverSide: true,
        pageLength: 40,
        ajax: {
          type: "GET",
          url: '/orders',
          dataType: 'json'
        },
        columns: [
            { data: 'dish_name', orderable: false },
            { data: 'quantity', orderable: false },
            { data: 'price', orderable: false },
            { data: 'custome_name', orderable: false },
            { data: 'location', orderable: false },
            { data: 'created_at', orderable: false }
        ],
        drawCallback: function(settings) {
        // assuming that new orders are created at rate slower than 1 order/5 sec
          if(typeof(top_row) != 'undefined')
          {
            if(top_row < this.api().row(0).data().id)
            {
              // create the pop up notification
              var row = this.api().row(0).data();
              console.log('Notification: ', row);
              $.notify('New order for ' + row.dish_name + ' from ' + row.location + '!', 'success', { autoHide: false });
            }
          }
          window.top_row = this.api().row(0).data().id;
        }
    });
    setInterval(function() {
      $('#people_table').DataTable().draw();
    }, 5000);
} );
</script>
