<div class="card" style="margin: 40px;">
    <div class="input-group">
      <a id="delete_button" href="#" class="button alert float-left input-group-button" style="margin-right: 40px">Delete Selected Row</a>
      <div class="cell medium-4" style="max-width: 30%;">
        <label class="input-group-label">Region: &nbsp;
        <select id='select_country' class="input-group-field">
          <option value="all" selected="true">All</option>
          <option value='Asia'>Asia</option>
          <option value='North America'>North America</option>
          <option value='South America'>South America</option>
          <option value='Europe'>Europe</option>
          <option value='Australia'>Australia</option>
        </select>
        </label>
      </div>
      <div class="cell medium-4" style="max-width: 30%;">
        <label class="input-group-label">Salary: &nbsp;
          <select id="select_salary" class="input-group-field">
            <option value="all" selected="true">All</option>
            <option value="100000 - 200000">100000 - 110000</option>
            <option value="200000 - 400000">120000 - 140000</option>
            <option value="400000 - 600000">140000 - 160000</option>
            <option value="600000 - 800000">160000 - 180000</option>
            <option value="800000 - 1000000">180000 - 200000</option>
          </select>
        </label>
      </div>
  </div>
  <div class="card-section">
    <table id="people_table" class="display">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Birth Date</th>
              <th>Salary</th>
              <th>Country</th>
              <th>Pin Code</th>
          </tr>
      </thead>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    table = $('#people_table').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
          type: "GET",
          url: '/people',
          dataType: 'json'
        },
        columns: [
            { data: 'first_name', orderable: false },
            { data: 'last_name', orderable: false },
            { data: 'birth_date' },
            { data: 'salary' },
            { data: 'country', orderable: false },
            { data: 'pincode', orderable: false }
        ]
    });


    $('#select_country').on('change', function(){
      $('#people_table').DataTable().columns(4).search($('#select_country').val()).draw();
    });

    $('#select_salary').on('change', function(){
      $('#people_table').DataTable().columns(3).search($('#select_salary').val()).draw();
    });

    $('#people_table tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
      }
      else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
      }
    });
 
    $('#delete_button').click( function () {
        $.ajax({
          url: '/people/' + table.row('.selected').data().id + '.json',
          type: 'DELETE',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
        });
        table.row('.selected').remove().draw( false );
    } );

} );
</script>
