<!-- should clear:
  - server side processing
-->
<div class="card" style="margin: 40px;">
  <div class="grid-container">
    <div class="input-group">
      <div class="cell medium-4">
        <label class="input-group-label">Region: &nbsp;
        <select id='select_country' class="input-group-field">
          <option value="all" selected="true">All</option>
          <option value='asia'>Asia</option>
          <option value='north_america'>North America</option>
          <option value='south_america'>South America</option>
          <option value='europe'>Europe</option>
          <option value='australia'>Australia</option>
        </select>
        </label>
      </div>
      <div class="cell medium-4">
        <label class="input-group-label">Salary: &nbsp;
          <select id="select_salary" class="input-group-field">
            <option value="all" selected="true">All</option>
            <option value="100000 - 120000">100000 - 110000</option>
            <option value="120000 - 140000">120000 - 140000</option>
            <option value="140000 - 160000">140000 - 160000</option>
            <option value="160000 - 180000">160000 - 180000</option>
            <option value="180000 - 200000">180000 - 200000</option>
          </select>
        </label>
      </div>
    </div>
  </div>
  <div class="card-section">
    <table id="people_table" class="display">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Birth Date</th>
              <th>Salary</th>
              <th>Country</th>
              <th>Pin Code</th>
          </tr>
      </thead>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    datatable = $('#people_table').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
          type: "GET",
          url: '/people',
          dataType: 'json'
        },
        columns: [
            { data: 'first_name', orderable: false },
            { data: 'last_name', orderable: false },
            { data: 'birth_date' },
            { data: 'salary' },
            { data: 'country', orderable: false },
            { data: 'pincode', orderable: false }
        ]
    });


    $('#select_country').on('change', function(){
      $('#people_table').DataTable().columns(4).search($('#select_country').val()).draw();
    });

    $('#select_salary').on('change', function(){
      $('#people_table').DataTable().columns(3).search($('#select_country').val()).draw();
    });

} );
</script>
