<!-- should clear:
  - server side processing
-->
<div class="card" style="margin: 40px;">
  <div class="card-header">
    <h4>Server side processing</h4>
  </div>
  <div class="card-section">
    <table id="people_table" class="display">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Birth Date</th>
              <th>Salary</th>
              <th>Country</th>
              <th>Pin Code</th>
          </tr>
      </thead>
    </table>
  </div>
  <div class="card-footer">
    <button class="button" id="html_reveal">HTML</button>
    <button class="button" id="js_reveal">JS</button>
    <button class="button" id="to_server_reveal">Params to server</button>
    <button class="button" id="from_server_reveal">Params from server</button>
  </div>
</div>

<img id="html_img" src="/server_side/html.png">
<img id="js_img" src="/server_side/js.png">
<img id="to_server_img" src="/server_side/to_server.png">
<img id="from_server_img" src="/server_side/from_server.png">

<script type="text/javascript">
  $(document).ready( function () {
    $('#people_table').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
          type: "GET",
          url: '/people',
          dataType: 'json'
        },
        columns: [
            { data: 'first_name', orderable: false },
            { data: 'last_name', orderable: false },
            { data: 'birth_date' },
            { data: 'salary' },
            { data: 'country', orderable: false },
            { data: 'pincode', orderable: false }
        ]
    });
    $('img').hide();
    $('#html_reveal').click(function() {
      $('img').hide();
      $('#html_img').show();
    });

    $('#js_reveal').click(function() {
      $('img').hide();
      $('#js_img').show();
    })

    $('#to_server_reveal').click(function() {
      $('img').hide();
      $('#to_server_img').show();
    })

    $('#from_server_reveal').click(function() {
      $('img').hide();
      $('#from_server_img').show();
    })
} );
</script>
