<div class="card" style="margin: 40px;">
<div class="card-section">
  <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Blade Runner</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Cool Hand Luke</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Heat</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Juice</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Master and Commander: The Far Side of the World</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Morituri</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Napoleon Dynamite</td>
            <td>5</td>
        </tr>
        <tr>
            <td>On The Waterfront</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Pulp Fiction</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Rockers</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Kids</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Sanjuro</td>
            <td>4</td>
        </tr>
        <tr>
            <td>The Battle of Algiers</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Fear and Loathing In Las Vegas</td>
            <td>7</td>
        </tr>
        <tr>
            <td>The Big Lebowski</td>
            <td>9</td>
        </tr>
        <tr>
            <td>To Catch a Thief</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Unstoppable</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Skyline</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Harry Potter and the Deathly Hallows - Part 1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>The Next Three Days</td>
            <td>7</td>
        </tr>
    </tbody>
  </table>

</div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>